body {
  font-family: sans-serif;
  color: black;
  background-color: #CBE2E8;
  height: 100vh;
}

#header {
  background-color: #CBE2E8;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 15px;
  max-width: 500px;
  height: 130px;
  margin: auto;
  border: solid black 1px;
}

#btn {
  height: 40px;
  border-radius: 5px;
  background-color: white;
}

#btn:hover {
  background-color: rgb(245, 232, 232);
}

.btn {
  width: 120px;
  height: 120px;
  border: solid black 1px;  
  border-radius: 10px;
  background-color: white;
}

#grid {
  margin-left: 50px;
  display: grid;
  padding: 20px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-columns: 150px auto;
}

.text-div {
  background-color: #CBE2E8;
  border-radius: 10px;
  width: 230px;
  height: 70px;
  z-index: 5;
  border: solid black 1px;
}

.text-div h2 {
  padding-left: 10px;
}

@media (max-width: 500px) {
  #grid {
    grid-template-columns: 150px;
  }
}