html {
    font-family: sans-serif;
    text-align: center;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0 10px;
}

button:hover {
    color: white;
    background-color: black;
}

h2 {
    font-weight: 200;
}

.counter {
    font-size: 6em;
    
}

